body {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 15px;
	margin: 30px 50px 30px 50px;
	text-align: center;
	background-color:#f9f9f9;
}

#main {
	width:900px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #a0a0a0;
	background-color:#ffffff;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: #3333aa;
}
a:hover {
	text-decoration: underline;
	color: blue;
}

table {
	border: 1px solid #999999;
	border-collapse: collapse;
	margin:20px;
}

	table th {
		border: 1px solid #999999;
		border-collapse: collapse;
		padding: 10px;
	}
	table td {
		border: 1px solid #999999;
		border-collapse: collapse;
		padding: 10px;
	}

h2 {
	color: #009900;
	font-size: 14px;
	margin-bottom: 50px;
}

h3 {
	margin-top:30px;
}

pre {
	overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	/* width: 99%; */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

li pre {
	width:80%;
	margin-left:20px;
	margin-top:5px;
}

.path {
	font-size: 14px;
}

.footer {
	font-size: 12px;
	color: #a0a0a0;
	margin-top:40px;
}
